 <% if obj.errors.any? %>
   <ul class="failed">     
     <%= "失敗しました" %>
   </ul>
   <% obj.errors.full_messages.each do |message| %>
     <ul>     
       <li><%= message %></li>
     </ul>
   <% end %>
 <% end %>